@import 'ag-grid-community/styles/ag-grid.css'; /* Core grid CSS, always needed */
@import 'ag-grid-community/styles/ag-theme-material.css'; /* Optional theme CSS */

.App {
}

.ColorTable {
  height: 90%;
  margin: 1vw 1vw 1vw 1vw;
}

.ColorContainer {
  height: 90%;
  margin: 1vw 1vw 1vw 1vw;
}

.MiniColorCell {
  height: 10vmin;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: large;
  font-weight: bold;
}

.ColorCell {
  height: 10vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: large;
  font-weight: bold;
}

.ColorsContainer {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.SliderContainer {
  width: 100%;
}

.SelectedColor {
  width: 100%;
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: x-large;
  font-weight: bold;
}

.PictureContainer {
  margin: 1vw 1vw 1vw 1vw;
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 0 0 auto;
  gap: 10px;
}

.ColorWheelContainer {
  margin: 1vw 1vw 1vw 1vw;
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.ag-theme-material {
  --ag-grid-size: 4px;
}