.App {
}

.ColorTable {
  height: 90vh;
  margin: 1vw 1vw 1vw 1vw;
}

.ColorContainer {
  height: 90vh;
  margin: 1vw 1vw 1vw 1vw;
}

.MiniColorCell {
  height: 100%;
  min-width: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: large;
  font-weight: bold;
}

.ColorCell {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: large;
  font-weight: bold;
}

.ColorsContainer {
  margin: 1vw 1vw 1vw 1vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Canvas {
  margin: 1vw 1vw 1vw 1vw;
  width: 90%;
  height: 75%;
}

.SliderContainer {
  margin: 1vw 1vw 1vw 1vw;
  width: 90%;
}

.SelectedColor {
  margin: 1vw 1vw 1vw 1vw;
  width: 90%;
  color: black;
  -webkit-text-stroke: 1px white;
  font-size: x-large;
  font-weight: bold;
}

.PictureContainer {
  height: 80vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 0 0 auto;
}